<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Login Page</title>  
</head>  
<body>  
    <nav class="navbar">  
        <div class="navbar-left">  
            <span class="logo">ClickTick</span>  
            <span class="tab">Home</span>  
        </div>  
        <div class="navbar-right">  
            <span class="tab">Log In</span>  
        </div>  
    </nav>  

    <div class="center-content">  
        <h1>Log in to your account</h1>
        <span>Welcom back ! please enter your details.</span>  
        <div class="container">  
            <form action="#" method="post">  
                <label for="email">Email:</label>  
                <input type="email" id="email" name="email" required  placeholder="enter your email">  

                <label for="password">Password:</label>  
                <input type="password" id="password" name="password" required>  
                
                <button type="submit" (click)="signIn()">Sign in</button>  
            </form>  
        </div>   
    </div>  

    <footer>  
        <div class="footer-left">  
            <span class="logo">ClickTickIcon</span>  
        </div>  
        <div class="footer-right">  
            <span>2022 ClickTick</span>  
        </div>  
    </footer>  
</body>  
</html>