<app-navbar [PageMode]="'login'"></app-navbar> 
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Login Page</title>  
</head>  
<body>
    <div class="center-content">  

        <div class="textHeader">
            <h1>Log in to your account</h1>
            <span class="infoText">Welcom back ! please enter your details.</span>  
        </div>

        <div class="container">  
            <form action="#" method="post">  
                <label class="infoText" for="email">Email:</label>  
                <input type="email" id="email"  [(ngModel)]="email" name="email" required  placeholder="enter your email">  

                <label class="infoText" for="password">Password:</label>  
                <input type="password" id="password"   [(ngModel)]="password" name="password" required>  
                <span *ngIf="showWarningMessage" class="warning">Username and Password are required!</span>  
                <span *ngIf="showDangerMessage" class="danger">Username and Password not exists!</span>  

                <button type="submit" (click)="signIn()">Sign in</button>  
            </form>  
        </div>   
    </div>  

    <footer>  
        <div class="footer-left">  
            <span class="logo">ClickTickIcon</span>  
        </div>  
        <div class="footer-right">  
            <span>2022 ClickTick</span>  
        </div>  
    </footer>  
</body>  
</html>