<div class="container">  
    <!-- Parent Section for Categories and Products -->  
    <div class="flex mb-8">  
        <!-- First Section: Category List -->  
        <div class="category-list">  
            <h4 class="text-2xl font-bold mb-4">Products</h4>  
            <div class="grid">  
                <div class="radio-buttons">  
                    <label class="container" *ngFor="let category of categories">  
                        <input type="radio" name="category" [value]="category" class="mr-2"  (click)="filterProductsByCategory(category)"/>  
                        {{ category.categoryName }} ({{ category.categoryCount }})  
                        <span class="checkmark"></span>  
                    </label>  
                </div>  
            </div>  
        </div>  

        <!-- Second Section: Product Cards -->  
        <div class="product-cards">  
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">  
                <div class="card" *ngFor="let item of ProductList">  
                    <img [src]="item.images[0]" alt="{{ item.title }}" class="card-image" />  
                    <div class="card-content">  
                        <h2 class="card-title">{{ item.title }}</h2>  
                        <p class="card-description">{{ item.description }}</p>  
                        <button   
                            class="add-to-cart-button mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-200"   
                            (click)="addToCart(item)">  
                            Add to Cart  
                        </button>  
                    </div>  
                </div>  
            </div>  
        </div>
    </div>  
</div>