body {  
  font-family: Arial, sans-serif;  
  margin: 0;  
  padding: 0;  
}  

.grid-container {  
  display: grid;  
  grid-template-columns: 10% 90%; /* 2 columns at 50% each */  
  gap: 10px;  
  padding: 10px;  
}  

.grid-products-container {  
  display: grid;  
  grid-template-columns: repeat(4, 1fr); /* 4 columns */  
  gap: 16px; /* Space between cards */  
  padding: 16px; /* Padding around the grid */  
}  


.grid-category {  
  background-color: #ffffff;  
  color: black;  
  text-align: center;  
  padding: 20px; 
  border:  1px solid #00000066; 
  border-radius: 10px;  
}  




  .radio-buttons {  
    display: inherit;  
    flex-direction: column; /* Stack radio buttons vertically */  
  }  


.container {  
  display: flex; /* Align label and input horizontally */  
  align-items: center; /* Center align items vertically */  
  margin-bottom: 10px; /* Space between radio buttons */  
}  
 

 
.card {  
  background-color: #ffffff; /* Equivalent to bg-white */  
  border-radius: 0.5rem; /* Equivalent to rounded-lg */  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Equivalent to shadow-lg */  
  overflow: hidden; /* Equivalent to overflow-hidden */  
  transition: transform 0.2s; /* For smooth scaling */  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
}  

.card-image {  
  width: fit-content;  
  text-align: center;
  height: 12rem; /* Equivalent to h-48 */  
  object-fit: cover; /* Ensures the image covers the area */  
}  

.card:hover {  
  transform: scale(1.05); /* Equivalent to hover:scale-105 */  
} 



.card-content {  
  padding: 1rem; /* Equivalent to p-4 */  
}  

.card-title {  
  font-size: 1.125rem; /* Equivalent to text-lg */  
  font-weight: 600; /* Equivalent to font-semibold */  
}  

.card-description {
  height: 150px;  
  color: #4a5568; /* Equivalent to text-gray-600 */  
}


.add-to-cart-button {
  background-color: #41cccc; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 100%
}

.more-card-info{
    font-weight: bold;
    color: #303031;
    font-size: 15px;
}

.Price-after-discount{
  text-decoration: line-through;
  margin-right: 15px;
}




/* Responsive styles */  

 

@media (min-width: 0px) and (max-width: 450px){  
  .grid-container {  
    grid-template-columns:  100%; /* 2 columns at 50% each for smaller screens */  
  }  

  .grid-products-container {  
    grid-template-columns: repeat(1, 1fr); /* 2 columns on small screens */  
  } 
  .radio-buttons {  
    display: ruby;  
  } 
}  


@media (min-width: 451px) and (max-width: 1277px){  
  .grid-container {  
    grid-template-columns:  100%; /* 2 columns at 50% each for smaller screens */  
  }  

  .grid-products-container {  
    grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */  
  } 
  .radio-buttons {  
    display: ruby;  
  } 
}  

 


  



 
